@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}

html{
   font-family: 'Montserrat', sans-serif;
	 scroll-behavior: smooth;
}

.bg-img {
  background-image: url("bbh.jpg");
  min-height: 720px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}



/* navbar */
.nav-wrapper{
  display: flex;
  justify-content: center;

}
.navbar{
	position:fixed;
  background-color: #3a39398c;
	box-shadow: none;


}
.navbar li a:hover{
	cursor: pointer;
	color: black;
	background: none;
}
.sidenav{
	background-color: #3a39398c !important;
}
.sidenav li a{
	color:#F5F5F5 !important;
}

.section-title{
  display: flex;
  justify-content: center;
  font-family: sans-serif;
	margin-bottom: 80px;
}
.hero-container h2{
	color:whitesmoke;
	animation-duration: 4s;
font-family: 'Roboto', sans-serif;

}
.hero-container {
	width:90%;
	position: absolute;
	top:15%;
  left:8%;
}



/* end-navbarSection*/
#skills{
	margin-bottom: 200px;
}
.icon-skill{
	display: flex;
	justify-content: center;
	align-items: center;

}
.icon{
	margin-right: 15px;

}
.icon-skill	h6{
	display: flex;
	justify-content: center;
	align-items: center;

}
.icon-skill	img{
	  display: flex;
	  justify-content:center;
    align-items:center;
	  height:50px;


}
.icon-skill	img:hover{
	cursor: pointer;
}
.col-img{
	margin-bottom: 10vh;
}





/* project */


#projects .project-wrapper {
 max-width: 1200px;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 gap: 15px 15px;
}


#projects .project-item{
 width:100%;
 height:300px;
 background-color: #f5f5f5;
}
#projects.project-info{
 width:inherit;
 text-align: justify;
}
.project-item p{
font-size: 18px;
margin-bottom: 10px;
padding-left:4px;
font-family:Poppins;
color:grey;
}

#projects .button{
	padding-top:10px;
	margin-left: 5px;
}
#projects .button a{
  color:grey;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 8px 8px;
}

#projects .project-item a:hover{
	color:white;
	border-color:grey;
	background-color: grey;
}

#projects .project-img{
width:100%;
}

#projects .project-img img{
height:300px;
width: inherit;
}

#projects .project-img img:hover{
	transition: .3s ease transform;
	cursor: pointer;
	transform: scale(1.1);
}


 .project-item h2{
	margin-top: 5px;
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
	color:grey;
	font-size: 3rem;

}



/* end-projectSection */


/* about */

#about{
	margin-top: 100px;
	margin-bottom: 200px;

}

#about .cont{

	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px 20px;
  margin-bottom: 70px;
}

#about .cont p{
  font-size: 20px;
	margin-bottom: 40px;
	text-align: justify;
	line-height: 1.8;

}

#about a{
  color:black;
  border: 2px solid gray;
  padding: 10px 15px;
  margin-bottom: 40px;

}

#about a:hover{
  background-color:gray;
  color:white;
  transition: .3s ease transform;
  transform: scale(1.1);
  cursor: pointer;

}
#about .cta{
	border-radius: 20px;
}
/* end-aboutSection */


/* contact */

#contact{
	margin-top: 150px;
	margin-bottom: 150px;
}

#contact .contact-container {
 max-width: 1000px;
 height: auto;
 margin: 0 auto;
 display: grid;
 grid-gap:1rem;
 grid-template-columns: repeat(auto-fill,minmax(300px, 3fr));
}


#contact .contact-item {
  text-align: center;
	border-radius: 10px;
	padding: 10px;
	margin: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: .3s ease box-shadow;
}

#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
  cursor: pointer;
}

#contact .icon {
   font-size: 26px;
   width: 70px;
   margin: 0 auto;
   margin-bottom: 5px;
}

#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}

#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
}
/*End contact Section */




/* footer */
#footer {
 	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer-container {
	height: 80px;
	flex-direction: column;


}

#footer .social-icon {
	display: flex;
	justify-content: center;
	padding-top: 20px

}

#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 20px;
}

#footer .social-item i {
	color:white;
	transition: .3s ease filter;
	font-size: 2rem;
}

#footer .social-item:hover i {
	color:gray;
}

#footer .social-item .fa{
	margin-right: 3rem;
}
/* end-footerSection */


@media screen and (min-width:1025px){
	.hero-container {
		position: absolute;
		top:40%;
	  left:8%;

	}}
